:root{
    --sky:#ccefff;
    --grass:#76bc75;
    --dirt:#bb6d50;
    --dirt-shadow:#a3553b;
    --white-rabbit:#fbfafc;
    --pink-rabbit:#fac7d2;
    --black-rabbit:#787273;
    --red-text:#a36c5b;
    /* counter-reset: score 0; */
}
*{
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    margin: 0;
    height:100vh;
    width: 100%;
}
.phone{
    position:relative;
    height: 600px;
    width: 300px;
    border: #000 solid 8px;
    border-radius: 30px;
    background-color: var(--sky);
    box-shadow:0 19px 38px rgba(0, 0, 0, 0.30), 
        0 19px 38px rgba(0, 0, 0, 0.30);
    overflow:hidden;
}
/* .phone h1::after{
    content: counter(score);
} */
.layer{
    position: absolute;
    bottom: 0;
}
 
.rabbit{
    height: 460px;
    width: 70px;
    background-color: rgba(255, 255, 194, 0);
    
}
.ear{
    position: absolute;
    height: 50px;
    width: 20px;
    background-color: var(--pink-rabbit);
    border-radius: 90%;
    border: var(--white-rabbit) solid 5px;
}
.ear-l{
    left: 5px;
    border-top-left-radius: 50px;
    transform:rotate(-20deg);
}
.ear-r{
    right: 5px;
    border-top-right-radius: 50px;
    transform:rotate(20deg);
}
.head{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #fff;
    top: 30px;
    border-radius: 50px;
}
.eye{
    position: absolute;
    top:15px;
    left: 25px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--black-rabbit);
    box-shadow:var(--black-rabbit) 15px 0 0;
}
.rabbit input[type="checkbox"]{
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 0;
    left: 0;
    height: 80px;
    width: 70px;
    margin: 0 auto;
    appearance: none;
    cursor: pointer;
}
.rabbit input[type="checkbox"]:focus{
    outline: none;
}
/* .rabbit input[type="checkbox"]:checked {
    counter-increment: score;
} */

.mountain{
    background-color: var(--dirt);
    border-radius: 22px;
    width: 70%;
    height: 50%;
    box-shadow: black 0px 10px 20px;
}
.grass {
    background: var(--grass);
      height: 20px;
      width: 100%;
    border-radius: 20px 20px 0 0;
}
  .zigzag {
    background: linear-gradient(
135deg
, var(--grass) 25%, transparent 25%) -50px 0, linear-gradient(
-135deg
, var(--grass) 25%, transparent 25%) -50px 0;
  background-size: 33px 30px;
  height: 30px;
  width: 100%;
}

.layer-1{
    z-index:1;
    right: 60px;
    animation-duration: 2s;
    
}
.layer-2{
    z-index:2;
    left: 60px;
    animation-duration: 1s;
}
.layer-3{
    z-index:3;
    right: 0;
    left: 0;
    height: 400px;
    margin: 0 auto;
}
.layer-4{
    z-index:4;
    left: 15px;
    height: 340px;
    animation-duration: 1.5s;
}
.layer-5{
    z-index:5;
    height: 280px;
    width: 200px;
}
.layer-6{
    z-index:6;
    right: 15px;
    height: 260px;
    animation-duration: 2.5s;
}
.layer-7{
    z-index:7;
    right: 0;
    width: 150px;
    height: 200px;
}

.circle{
    position: absolute;
    background-color: var(--white-rabbit);
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.layer-8{
    z-index:8;
    right: 0;
    left: 0;
    margin: 0 auto;
    height:100px;
    width: 70%;
}
.layer-8 .circle{
    background-color: var(--grass)
}
.layer-8 .circle-1{
    top: -20px;
    right:calc(50% - 35px);
}
.layer-8 .circle-2{
    bottom: -10px;
    width: 100%;
    border-radius: 45%;
    right: 0;
}
.layer-8 .circle-3{
    bottom: 15px;
    left: 10px;
}
.layer-8 .circle-4{
    right: 4px;
}

.layer-9{
    z-index:9;
    left: -10px;
    height:80px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0);
}
.layer-9 .circle-1{
    top: -20px;
    left: 0;
}
.layer-9 .circle-2{
    bottom: -10px;
    width: 100px;
    border-radius: 45%;
    right: 0;
}
.layer-9 .circle-3{
    bottom: 0;
    left: 0;
}

.layer-10{
    z-index:10;
    right: -10px;
    height:80px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0);
}
.layer-10 .circle-1{
    top: -20px;
    right: 0;
}
.layer-10 .circle-2{
    bottom: -10px;
    width: 100px;
    border-radius: 45%;
}
.layer-10 .circle-3{
    bottom: 0;
    right: 0;
}

/* ANIMATION */

/* .eye{
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0%{
        height: 4px;
    }
    5%{
        height: 1px;
        transform: translate(0, 2px);
    }
    10%{
        height: 4px;
     }

} */

.rabbit{
    animation-name:jumping;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes jumping{
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(65px);
    }
    100%{
        transform: translateY(0px)
    }
}